<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    {{>nav}}
    <h1>About Page</h1>
    <img src="./images/star.jpg" alt="stars">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae excepturi autem maiores necessitatibus
        dignissimos! Nobis incidunt, iusto quae nesciunt labore, beatae vero necessitatibus similique voluptatum
        voluptate cum eveniet, in ipsam!</p>
</body>

</html>