<!DOCTYPE html>
<html lang="en">

{{>header}}

<body>
    {{>nav}}
    <h1>Home Page</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt eaque distinctio tempora dicta ratione autem
        pariatur? Quos neque dolor, voluptatem repellendus beatae eligendi aliquam animi deserunt architecto tempora
        provident eveniet.
        Ut, eius fuga ipsam quasi ducimus doloremque distinctio dolore, explicabo quis odit cupiditate voluptatum
        molestiae nam molestias possimus culpa. Ducimus omnis fuga ullam? Ab eligendi porro illo corrupti dolores
        adipisci.
        Nihil eligendi esse fuga tenetur, nam quas alias quaerat architecto eaque provident id. Vitae dicta at obcaecati
        molestiae similique perferendis nemo iusto quaerat voluptatum, maiores assumenda rem explicabo, praesentium
        totam?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia ipsam earum eius nisi. Quo atque quis maiores
        reiciendis, obcaecati, quibusdam molestiae magni repellat ab repellendus doloribus enim sed, quod nostrum.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, inventore nemo vero repellendus ipsam commodi
        consequuntur dolore delectus omnis voluptatum, cum debitis ducimus consectetur repudiandae numquam. Perferendis,
        assumenda odit. Accusamus.
        Laudantium obcaecati, odit nemo in sed culpa ex reprehenderit numquam doloribus sequi ducimus maxime dolores
        pariatur suscipit harum ad, nulla esse? Aliquam fuga vitae eos, nemo reprehenderit ratione dolorum rerum.
        Quasi architecto possimus, consequatur non fuga, necessitatibus, harum perferendis maxime ratione dignissimos
        nemo. Cumque eaque dolore, non impedit et ipsum consequuntur, magnam voluptates odio laboriosam maiores quas
        blanditiis. Deleniti, nihil.
        Quam odit voluptas praesentium harum molestiae nam, alias commodi explicabo corporis unde obcaecati fugit
        perferendis ut ipsum? Veritatis blanditiis architecto eos reprehenderit, placeat fuga modi nihil quisquam,
        corporis laudantium sequi.</p>
    {{>footer}}
</body>

</html>